body {
	font-family: Verdana, sans-serif;
	background-color: #fffaf5;
	margin: 0;
	}

	.menu {
	background-color: #f8c8dc;
	}

	.menu .nav-link {
	color: #5a2a2a;
	font-weight: bold;
	}

	.menu .nav-link:hover {
	color: deeppink;
	}

	.banner img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	}

	.card img {
	height: 200px;
	object-fit: cover;
	}

	.footer {
	background-color: #f8c8dc;
	margin-top: 50px;
	}